# Project
_site
.sass-cache
.vagrant
rafts/

# Generated images
assets/generated/

# General
.DS_Store
Thumbs.db
ehthumbs.db

beautiful-jekyll-theme-*.gem
CHANGELOG.md

# Backups and swap files
*~
*.swp

# Drafts to ignore
_drafts/i-won-t-july-to-you.md

webpage.zip
