# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db

Gemfile.lock

beautiful-jekyll-theme-*.gem

CHANGELOG.md
.gitignore~
*.un~
_drafts/i-won-t-july-to-you.md
*.swp
*.swp
*.md~
*.un~
*.swp
*.md~
*.un~
_layouts/post.html~
assets/css/.custom-styles.css.un~
assets/css/custom-styles.css~
webpage.zip
