{%- assign preset = include.preset | default: 'default' -%}
{%- assign alt = include.alt | default: '' -%}
{%- capture img_class -%}
{%- if include.border -%}img-border{%- endif -%}
{%- if include.class -%}{% if include.border %} {% endif %}{{ include.class }}{%- endif -%}
{%- endcapture -%}
{%- assign classes = img_class | strip -%}
{%- capture extra -%}{% unless classes == '' %} --img class="{{ classes }}"{% endunless %}{%- endcapture -%}
{%- assign src = include.src -%}
{%- if src | slice: 0, 12 == '/assets/img/' -%}
  {%- assign src = src | remove_first: '/assets/img/' -%}
  {% picture {{ preset }} {{ src | jsonify }} --alt {{ alt | jsonify }}{{ extra }} %}
{%- else -%}
  <img src="{{ src | relative_url }}" alt="{{ alt }}"{% unless classes == '' %} class="{{ classes }}"{% endunless %}>
{%- endif -%}
